.container {
    background-image: url('https://jooinn.com/images/cute-boy-laughing-2.jpg');
    background-size: 250PX;
    background-position: center;
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
  }
button{
    border-radius: 30%;
}
  .jokes {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color: rgba(128, 122, 122, 0.8);
    padding: 20px;
    border-radius: 20px;
    box-shadow: black;
    box-sizing: border-box;
  }
.joke{
    border-radius: 20%;
}
.joke button:hover{
    background-color: #e0e0ee;
}
.punch{
    border-radius: 25%;
    text-decoration-color: black;
}
  